spring:
  application:
    name: project
  output:
    ansi:
      enabled: always
  datasource:
    url: jdbc:mysql://host.docker.internal:3306/guestbook
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

